################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HavayarApp/FileContentIndex
/.vs
/App.Real/bin/Debug/net8.0
/App.Real/obj
/Common/bin
/Common/obj
/Data/bin
/Data/Migrations
/Data/obj
/Data/obj/Debug/net8.0/ref/Data.dll
/Entities/bin
/Entities/obj
/ExteraAssembiles/Stimulsoft
/Infrastructure/bin/Debug/net8.0
/Infrastructure/obj
/node_modules
/ReportBuilder.Appliction/bin/Debug/net8.0
/ReportBuilder.Appliction/obj
/ReportBuilder.Appliction/obj/Debug/net8.0/ref/RB.Application.dll
/ReportBuilder.Appliction/RB.Application.csproj
/ReportBuilder.Entities/bin
/ReportBuilder.Entities/obj
/ReportBuilder.Services/bin
/ReportBuilder.Services/Contracts/IReportBuilderService.cs
/ReportBuilder.Services/obj
/ReportBuilder.WebApp/bin
/ReportBuilder.WebApp/obj
/Services/bin
/Services/obj
/Shared/bin/Debug/net8.0
/Shared/obj
/Shared/obj/Debug/net8.0/ref/Shared.Contracts.dll
/WebApp/bin/Debug/net8.0
/WebApp/ExteraAssembiles/Stimulsoft
/WebApp/node_modules
/WebApp/obj
/WebFramework/obj
/WebFramework/bin
/WebApp/wwwroot/uploads
/WebApp/wwwroot/UserProfileImage
/AUTO_TRANSLATE_FEATURE.md
/CIRCULAR_REFERENCE_FIX.md
/COMPLETE_IMPLEMENTATION_SUMMARY.md
/EF_MIGRATIONS_GUIDE.md
/ENTITY_EVENTS_USAGE.md
/ENUM_AUTO_TRANSLATE_GUIDE.md
/FORM_BUILDER_GUIDE.md
/FORM_BUILDER_IMPLEMENTATION_SUMMARY.md
/JQUERY_USAGE_GUIDE.md
/NESTED_ENTITIES_GUIDE.md
/NOTIFICATION_BUILDER_GUIDE.md
/NOTIFICATION_RULE_CACHE_UPDATE_GUIDE.md
/ONLINE_USERS_SERVICE_GUIDE.md
/QUICK_START.md
/README_REALTIME_ARCHITECTURE.md
/REDIS_MIGRATION_GUIDE.md
/REDIS_QUICK_REFERENCE.md
/TROUBLESHOOTING_CORS_RABBITMQ.md
/WebApp/wwwroot/account.dat
/.continue
/.cursor/worktrees.json
/Deploye.ps1
/App.Real/bin/Release/net8.0
/Infrastructure/bin/Release/net8.0
/Shared/bin/Release/net8.0
/WebApp/bin/Release/net8.0
/Deploy.bat
/App.BackgroundJob/bin/Debug/net8.0
/App.BackgroundJob/obj
/App.Real/bin/Debug/net10.0
/Infrastructure/bin/Debug/net10.0
/Shared/bin/Debug/net10.0
/WebApp/bin/Debug/net10.0
/App.BackgroundJob/bin/Debug/net10.0
/ReportBuilder.Appliction/bin/Debug/net10.0
/App.BackgroundJob/wwwroot/Uploads/20251226
